<div class="container-fluid">
    <div class="hero-unit">
      <%= form_tag( search_path,  :method => :get) do |f| %>
          <%= label_tag("Want to explore?") %>
          <%= search_field_tag("city", "city", :class=>"search-query") %>
          <%= submit_tag("search", :class=>"btn btn-inverse") %>
      <% end %>
    </div>
</div>
